<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aggle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50B7F8821C886EA40026B95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B7F8961C886EA50026B95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B7F8A11C886EA50026B95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
